/*
 sm     =   small   =   phone-small     = 576px     = 36em;
 md     =   medium  =   phone-large     = 768px     = 48em;
 lg     =   large   =   phone-tablet    = 992px     = 62em;
 xl     =   xlarge  =   desktop         = 1200px    = 75em;
 xxl    =   xxl     =   big desktop     = 1400px    = 87.5em;
 1em = 16px;
*/
/*
When using MAX and Desktop first approach the biggest screen size
shall be on top for right cascading of styles(smallest shall be last)
*/
/*
When using MIN and Mobile first approach the smalles screen size
shall be on top for right cascading of styles(bigest shall be last)
*/
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #080e18;
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  font-weight: 700;
}

a:link {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  margin: 2rem 0;
}

@media (max-width: 61.9em) {
  body {
    font-size: 90%;
  }
}

@media (min-width: 48em) {
  .gtp-desktop {
    position: relative;
    font-size: 4rem;
    z-index: 1;
  }
  .gtp-desktop:before {
    content: '';
    background: url(../images/svg/gear-wheel.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    top: -80px;
    left: -100px;
    z-index: -1;
    opacity: 0.3;
  }
  .gtp-desktop:after {
    content: '';
    background: url(../images/svg/gear-wheel.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 150px;
    z-index: -1;
    opacity: 0.2;
  }
  .gtp-desktop:hover:before, .gtp-desktop:hover:after {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transition: -webkit-transform 3.3s cubic-bezier(0.17, 0.67, 0.9, 0.48);
    transition: -webkit-transform 3.3s cubic-bezier(0.17, 0.67, 0.9, 0.48);
    transition: transform 3.3s cubic-bezier(0.17, 0.67, 0.9, 0.48);
    transition: transform 3.3s cubic-bezier(0.17, 0.67, 0.9, 0.48), -webkit-transform 3.3s cubic-bezier(0.17, 0.67, 0.9, 0.48);
  }
}

body {
  min-height: 100vh;
  width: 100%;
  display: block;
  -ms-grid-columns: auto (1100px)[1] auto;
      grid-template-columns: auto repeat(1, 1100px) auto;
}

body > * {
  padding: 1rem 2rem;
}

@media (min-width: 62em) {
  body > * {
    padding: 1rem 2rem;
  }
}

@media (min-width: 75em) {
  body {
    display: -ms-grid;
    display: grid;
  }
  body > * {
    padding: 1rem 10rem;
  }
}

header {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 8rem;
  background: linear-gradient(45deg, #3f3f4e, #3f3f4e);
  border-bottom: 2px solid #282832;
  width: 100%;
}

header a:link {
  color: white;
}

header.fixed {
  width: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(63, 63, 78, 0.9);
}

header.fixed .main-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.fixed ul li {
  margin-bottom: 0;
}

header.fixed small {
  display: none;
}

.map {
  grid-column: 1/-1;
  background-color: #efefef;
  padding: 0px;
  height: 50vh;
}

footer {
  grid-column: 1/-1;
  margin: auto 0 0 0;
  background-color: #141c28;
}

ol {
  margin: 0 2rem;
}

ol li {
  margin-bottom: 0.66667rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

ol li:first-child {
  margin-top: 1rem;
}

ol li::marker {
  font-weight: bold;
  font-size: 0.9rem;
}

ul {
  list-style: square;
}

ul li {
  margin-left: 1rem;
}

ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4rem 0;
  padding: 4rem unset;
}

.flex-30 {
  width: 30%;
}

.flex-50 {
  width: 50%;
  display: block;
}

.flex-50:first-child {
  margin: 0 1rem 0 0;
}

.flex-50:last-child {
  margin: 0 0 0 1rem;
}

.flex-60 {
  width: 60%;
}

.flex p:first-child, .flex-30 p:first-child, .flex-50 p:first-child, .flex-60 p:first-child {
  margin-top: 0;
}

.flex p:last-child, .flex-30 p:last-child, .flex-50 p:last-child, .flex-60 p:last-child {
  margin-bottom: 0;
}

@media (max-width: 47.9em) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-30, .flex-50, .flex-60 {
    width: 100%;
  }
  .flex-50:last-child, .flex-50:first-child {
    margin: 0;
  }
}

footer {
  grid-column: 1/-1;
  margin: 0 !important;
  color: white;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 2vh;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  background: url(../images/svg/to-top.svg) center no-repeat;
  background-color: #f9bf15;
  border: 1px solid #f9bf15;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  z-index: 100;
}

.scroll-top:focus, .scroll-top:active, .scroll-top:hover {
  outline: none;
  cursor: pointer;
}

.visible {
  display: block !important;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.lazy-load {
  opacity: 0;
}

.lazy-load-off {
  opacity: 1;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

@media (max-width: 47.9em) {
  .map {
    margin: 4rem auto 0 auto;
  }
}

.header-logo a {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #f9bf15;
  text-shadow: 2px 2px 0px #141c28;
}

.header-logo span, .header-logo small {
  display: block;
  color: #ebebeb;
}

.header-logo span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
  width: 100%;
  text-align: right;
}

.header-logo small {
  font-family: 'Nunito', sans-serif;
  text-transform: none;
  font-weight: 700;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item:not(:last-child) {
  margin-right: 1rem;
}

.main-nav__item a {
  text-decoration: none;
}

.main-nav__item a:after {
  content: '';
  display: block;
  border-bottom: 2px solid transparent;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.main-nav__item a:link, .main-nav__item a:visited {
  color: #f9bf15;
}

.main-nav__item:hover a:after {
  content: '';
  display: block;
  border-bottom: 2px solid #f9bf15;
  width: 100%;
}

.main-nav__trigger {
  display: none;
}

@media (max-width: 61.9em) {
  header {
    margin: 0;
    padding: 2rem;
  }
  .header-logo a {
    font-size: 1.5rem;
  }
  .main-nav__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 70px !important;
    left: -100%;
    height: 70vh;
    width: 0;
    background-color: #3f3f4e;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main-nav__item {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-nav__item a {
    padding: 1rem 2rem;
  }
  .main-nav__trigger {
    display: none;
  }
  .main-nav__trigger + label {
    position: relative;
    height: 30px;
    width: 25px;
    outline: none;
  }
  .main-nav__trigger + label .dash {
    position: absolute;
    width: 25px;
    height: 2px;
    top: 10px;
    background-color: #f9bf15;
  }
  .main-nav__trigger + label .dash:hover {
    cursor: pointer;
  }
  .main-nav__trigger + label .dash:before, .main-nav__trigger + label .dash:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: inherit;
  }
  .main-nav__trigger + label .dash:before {
    position: absolute;
    top: -6px;
  }
  .main-nav__trigger + label .dash:after {
    position: absolute;
    top: 6px;
  }
  .main-nav__trigger:checked ~ .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100px;
    left: 0px;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10vh;
  }
  .main-nav__trigger:checked + label .dash {
    height: 0px;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .main-nav__trigger:checked + label .dash::before {
    -webkit-transform: rotate(45deg) translateY(8px);
            transform: rotate(45deg) translateY(8px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .main-nav__trigger:checked + label .dash::after {
    -webkit-transform: rotate(-45deg) translateY(-9px);
            transform: rotate(-45deg) translateY(-9px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.big-hero {
  grid-column: 1/-1;
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(30deg, #141c28 5%, rgba(20, 28, 40, 0.5) 30%, rgba(20, 28, 40, 0) 70%), url(../images/big-hero-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
}

.big-hero__grid {
  width: 40%;
  min-width: 500px;
  height: 100%;
  margin: 10vh auto auto 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 3fr 2fr 1fr 3fr;
      grid-template-rows: 3fr 2fr 1fr 3fr;
}

.big-hero__grid > * {
  padding: 1rem;
}

@media (max-width: 47.9em) {
  .big-hero__grid {
    margin: 0;
  }
}

.big-hero__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #fe9703;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 2rem 1rem;
}

.big-hero__slogan {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #efefef;
  border-left: 10px solid #fe9703;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.big-hero__tel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: #fe9703;
  font-size: 0.9rem;
  font-weight: 800;
}

.big-hero__tel:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 10px;
  width: 32px;
  height: 100%;
  background: url(../images/svg/phone_in_talk-24px.svg) center no-repeat;
}

.big-hero__list {
  grid-column: 4/-1;
  grid-row: 3/-1;
  color: white;
}

@media (max-width: 61.9em) {
  .big-hero {
    padding-left: 2rem;
  }
  .big-hero__grid {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: unset;
  }
}

@media (max-width: 35.9em) {
  padding-left: 2rem;
  .big-hero__grid {
    width: 100%;
  }
}

.about-us {
  grid-column: 1/-1;
  min-height: 50vh;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.about-us__img {
  background-image: url(../images/IMG_3496bfree.jpg);
  background-size: cover;
}

.about-us__content {
  padding: 2rem;
  padding-right: 14rem;
}

.about-us__content h1 {
  font-size: 2.5rem;
  margin-top: -2rem;
}

@media (max-width: 47.9em) {
  .about-us__content {
    padding: 2rem 1rem;
  }
}

.lessons {
  grid-column: 1/-1;
  display: block;
}

.lessons__sub {
  padding: 4rem 2rem !important;
}

@media (max-width: 61.9em) {
  .lessons .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lessons .flex-60 {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .lessons .flex-30 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 62em) {
  .lessons__sub {
    padding: 4rem 10rem !important;
  }
}

.cards-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 2rem;
}

.cards-container ul small {
  font-weight: 800;
  font-size: 0.8rem;
}

@media (max-width: 61.9em) {
  .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.u-clr-margin-row > .cards-container {
  padding: 2rem 2rem;
}

.card, .card--sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem;
  width: 30%;
  min-width: 250px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

.card h1, .card--sub h1 {
  font-size: 1.2rem;
}

.card__header, .card--sub__header {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__header:after, .card--sub__header:after {
  content: '';
  display: block;
  border-bottom: 2px solid transparent;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.card__cta, .card--sub__cta {
  border: 1px solid #f9bf15;
  padding: 0.66667rem 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: auto 0 0 0 !important;
}

.card__cta:link, .card__cta:active, .card__cta:visited, .card--sub__cta:link, .card--sub__cta:active, .card--sub__cta:visited {
  color: black;
}

.card__cta:hover, .card__cta:focus, .card--sub__cta:hover, .card--sub__cta:focus {
  cursor: pointer;
  text-decoration: none;
}

.card > *, .card--sub > * {
  margin: 1rem;
}

.card:nth-child(1), .card--sub:nth-child(1) {
  margin-right: -20px;
}

.card:nth-child(1):hover, .card:nth-child(1):focus, .card--sub:nth-child(1):hover, .card--sub:nth-child(1):focus {
  margin-right: -50px;
}

.card:nth-child(2), .card--sub:nth-child(2) {
  background-color: #fcdf5a;
  margin-top: -20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.card:nth-child(2) h1, .card--sub:nth-child(2) h1 {
  font-size: 1.3rem;
}

.card:nth-child(2) > .card__cta, .card--sub:nth-child(2) > .card__cta {
  border: 1px solid #fcfcfc;
  background-color: #f9bf15;
}

.card:nth-child(2) > .card__cta:hover, .card:nth-child(2) > .card__cta:focus, .card--sub:nth-child(2) > .card__cta:hover, .card--sub:nth-child(2) > .card__cta:focus {
  cursor: pointer;
}

.card:nth-child(2):hover, .card:nth-child(2):focus, .card--sub:nth-child(2):hover, .card--sub:nth-child(2):focus {
  width: calc(30% + 100px);
  padding: 2rem calc((2rem) + 50px);
}

.card:nth-child(3), .card--sub:nth-child(3) {
  margin-left: -20px;
}

.card:nth-child(3):hover, .card:nth-child(3):focus, .card--sub:nth-child(3):hover, .card--sub:nth-child(3):focus {
  margin-left: -50px;
}

.card:hover, .card:focus, .card--sub:hover, .card--sub:focus {
  background-image: radial-gradient(#fcdf5a, #f9bf15);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), 0px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.card:hover .card__cta, .card:focus .card__cta, .card--sub:hover .card__cta, .card--sub:focus .card__cta {
  border: 1px solid #f9bf15;
  background-color: #fcfcfc;
}

.card:hover .card__header:after, .card:focus .card__header:after, .card--sub:hover .card__header:after, .card--sub:focus .card__header:after {
  content: '';
  border-bottom: 2px solid #f9bf15;
  width: 40%;
}

.card__list, .card--sub__list {
  width: 100%;
  margin-top: 0px;
  padding: 1rem;
}

.card__list li, .card--sub__list li {
  width: 100%;
}

.card__list li:not(:last-child), .card--sub__list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card__list li:first-child, .card--sub__list li:first-child {
  list-style-type: none;
  margin-bottom: 0;
}

.card small, .card--sub small {
  font-size: 0.8rem;
  font-weight: 800;
  color: #393939;
  padding-bottom: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.card--sub {
  width: calc( 100% / 3);
  font-size: 0.9rem;
  position: relative;
}

.card--sub h1 {
  font-size: 1.2rem;
  width: 100%;
}

.card--sub:nth-child(1), .card--sub:nth-child(2), .card--sub:nth-child(3) {
  background-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  margin: unset;
}

.card--sub:nth-child(1):hover, .card--sub:nth-child(1):focus, .card--sub:nth-child(2):hover, .card--sub:nth-child(2):focus, .card--sub:nth-child(3):hover, .card--sub:nth-child(3):focus {
  width: calc( 100% / 3) !important;
  background-image: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  z-index: 11;
  margin: unset !important;
  margin-left: unset !important;
  margin-right: unset !important;
  padding: 2rem;
}

.card--sub:before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  width: 3px;
  height: 60%;
  border-right: 1px solid #f9bf15;
}

@media (max-width: 61.9em) {
  .cards-container {
    padding: 2rem 0;
  }
  .card, .card--sub {
    width: 100%;
    padding: 2rem 0;
  }
  .card:before, .card:before, .card--sub:before, .card--sub:before {
    width: 0;
    display: none;
  }
  .card:nth-child(1), .card:nth-child(2), .card:nth-child(3), .card--sub:nth-child(1), .card--sub:nth-child(2), .card--sub:nth-child(3) {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    margin: unset;
  }
  .card:nth-child(1):hover, .card:nth-child(1):focus, .card:nth-child(2):hover, .card:nth-child(2):focus, .card:nth-child(3):hover, .card:nth-child(3):focus, .card--sub:nth-child(1):hover, .card--sub:nth-child(1):focus, .card--sub:nth-child(2):hover, .card--sub:nth-child(2):focus, .card--sub:nth-child(3):hover, .card--sub:nth-child(3):focus {
    width: 100% !important;
    background-image: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    z-index: 11;
    margin: unset !important;
    margin-left: unset !important;
    margin-right: unset !important;
    padding: 2rem 0;
  }
}

.services {
  grid-column: 1/-1;
  padding-top: 4rem;
  padding-bottom: 0px;
}

.services > .flex {
  margin-top: 2rem;
}

.contacts {
  grid-column: 1/-1;
}

.contacts__phone, .contacts__address, .contacts__fb {
  position: relative;
  text-align: left;
  font-weight: 800;
  padding-left: 50px;
}

.contacts__phone p, .contacts__address p, .contacts__fb p {
  margin: 0.33333rem 0;
}

.contacts__phone a, .contacts__phone a:visited, .contacts__address a, .contacts__address a:visited, .contacts__fb a, .contacts__fb a:visited {
  color: #080e18;
}

.contacts__phone a:active, .contacts__phone a:hover, .contacts__address a:active, .contacts__address a:hover, .contacts__fb a:active, .contacts__fb a:hover {
  color: #e36800;
}

.contacts__phone p:last-child, .contacts__address p:last-child, .contacts__fb p:last-child {
  margin-bottom: 0;
}

@media (max-width: 47.9em) {
  .contacts__phone, .contacts__address, .contacts__fb {
    margin: 2rem 0;
  }
  .contacts__phone p, .contacts__address p, .contacts__fb p {
    margin-left: 20%;
  }
}

.contacts__phone:before, .contacts__address:before, .contacts__fb:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 32px;
  height: 100%;
  background: url(../images/svg/phone_in_talk-24px.svg) center no-repeat;
}

.contacts__phone:hover:before, .contacts__phone:hover:after, .contacts__address:hover:before, .contacts__address:hover:after, .contacts__fb:hover:before, .contacts__fb:hover:after {
  -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.17, 0.67, 0.9, 0.48);
  transition: -webkit-transform 0.5s cubic-bezier(0.17, 0.67, 0.9, 0.48);
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.9, 0.48);
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.9, 0.48), -webkit-transform 0.5s cubic-bezier(0.17, 0.67, 0.9, 0.48);
}

.contacts__address::before {
  content: '';
  background: url(../images/svg/location_on-24px.svg) center no-repeat;
}

.contacts__fb::before {
  content: '';
  background: url(../images/svg/fb_icon.svg) center no-repeat;
  background-size: 20px 20px;
}

.contacts--sub {
  width: 70%;
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto 4rem auto;
  background-color: #fcdf5a;
}

@media (max-width: 74.9em) {
  .contacts--sub {
    width: 100%;
  }
}

.contacts__worktable {
  font-size: 0.9rem;
  width: 100%;
  border-spacing: 1rem 0.5rem;
}

.contacts__worktable td {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f9bf15;
}

.contacts__worktable td:first-child {
  padding-right: 0.5rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
  text-align: right;
}

.contacts__worktable span {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
}

.technical-services {
  grid-column: 1/-1;
}

.technical-services ul {
  list-style-position: inside;
}

.technical-services ul li {
  background-color: #ebebeb;
  padding: 1rem 2rem;
  margin-left: 0;
}

@media (min-width: 62em) {
  .technical-services ul li:hover {
    -webkit-box-shadow: 1px 2px 2px 1px rgba(20, 28, 40, 0.5);
            box-shadow: 1px 2px 2px 1px rgba(20, 28, 40, 0.5);
    background-color: #dedede;
    font-weight: 700;
  }
}

.technical-services__strug__img {
  background: url(../images/tech.jpg) center no-repeat;
  background-size: auto 100%;
  background-position: top center;
  min-height: 300px;
}

@media (max-width: 47.9em) {
  .technical-services__strug {
    margin: 0px;
  }
  .technical-services__strug__img {
    margin: 0px !important;
  }
}

.technical-services .flex-50:first-child {
  padding-right: 5%;
}

.technical-services .flex-50:last-child {
  padding-left: 5%;
}

@media (max-width: 47.9em) {
  .technical-services .flex-50:last-child {
    padding: 4rem 1rem;
  }
}

footer a:link, footer a:visited {
  color: white;
}

footer a:hover {
  text-decoration: none;
}

.footer-logo a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footer-logo a:link, .footer-logo a:visited {
  color: white;
}

.footer-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav__item {
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (max-width: 47.9em) {
  .footer-logo {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .footer-nav__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.mt-1 {
  margin-top: 2rem;
}

.mt-2 {
  margin-top: 4rem;
}

.mt-4 {
  margin-top: 8rem;
}

.my-1 {
  margin: 2rem 0;
}

.my-2 {
  margin: 4rem 0 !important;
}

.my-4 {
  margin: 8rem 0 !important;
}

.u-phone:link, .u-phone:visited {
  color: black;
}

.u-bnd-yellow {
  background-color: #fcdf5a;
}

.u-bnd-grey {
  background-color: #f4f4f4;
}

.u-bnd-shifter {
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(252, 252, 252, 0.7)), to(#f4f4f4)), url(../images/cards.jpeg);
  background-image: linear-gradient(to left, rgba(252, 252, 252, 0.7), #f4f4f4), url(../images/cards.jpeg);
  background-repeat: no-repeat;
}

@media (max-width: 74.9em) {
  .u-bnd-shifter {
    background-size: cover;
  }
}

@media (min-width: 75em) {
  .u-bnd-shifter {
    background-size: 110%;
    background-position: -170% 50%;
  }
}

.u-clr-margin-row {
  padding: 2rem;
}

@media (max-width: 47.9em) {
  .u-clr-margin-row {
    margin: 0 -2rem;
  }
}

@media (min-width: 36em) {
  .u-clr-margin-row {
    margin: 0 -2rem;
  }
}

@media (min-width: 62em) {
  .u-clr-margin-row {
    margin: 0 -2rem;
    padding: 2rem 4rem;
  }
}

@media (min-width: 75em) {
  .u-clr-margin-row {
    margin: 0 -10rem;
  }
}

.u-hover-box {
  padding: 3rem;
  -webkit-transition: all 0.1s cubic-bezier(0.1, 0.98, 0.71, 0.68);
  transition: all 0.1s cubic-bezier(0.1, 0.98, 0.71, 0.68);
}

.u-hover-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.u-middle {
  max-width: 100ch;
  margin: 8rem auto;
}

.u-line-top {
  position: relative;
}

.u-line-top:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: 0;
  width: 20%;
  height: 3px;
  background-color: #f9bf15;
}

.u-line-bottom {
  position: relative;
}

.u-line-bottom:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -20px;
  right: 0;
  width: 40%;
  height: 3px;
  background-color: #f9bf15;
}

@media (max-width: 74.9em) {
  .u-clr-margin-row {
    padding: 2rem;
  }
}

@media (max-width: 61.9em) {
  .u-hover-box {
    padding: 3rem;
    margin-bottom: 4rem;
    -webkit-transition: unset;
    transition: unset;
  }
  .u-hover-box:hover {
    -webkit-transform: unset;
            transform: unset;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
}
/*# sourceMappingURL=main.css.map */