@import './scss/vars';
@import './scss/base';
@import './scss/typography';
@import './scss/layout';

@import './scss/main-nav';
@import './scss/big-hero';
@import './scss/about';
@import './scss/lessons-cards';
@import './scss/services';
@import './scss/contacts';
@import './scss/technical-services';
@import './scss/footer';

.u-bnd{
    &-yellow {
        background-color: $primary-yellow-light;
    }

    &-grey {
        background-color: $primary-grey-light-2;
    }
}



.u-clr-margin-row {
    margin: 0 -#{$main-gutter*5};
    padding: $main-gutter;
}

.u-hover-box{
    padding: $main-gutter*1.5;

    transition: all 0.1s cubic-bezier(.1,.98,.71,.68);

    &:hover {
        transform: scale(1.05) translateY( -10%) translateX(-20%);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.2) ;
    }
}