@import './scss/vars';
@import './scss/base';
@import './scss/typography';
@import './scss/layout';

@import './scss/main-nav';
@import './scss/big-hero';
@import './scss/about';
@import './scss/lessons-cards';
@import './scss/services';
@import './scss/contacts';
@import './scss/technical-services';
@import './scss/footer';

.mt-1 {margin-top: $main-gutter*1;}
.mt-2 {margin-top: $main-gutter*2;}
.mt-4 {margin-top: $main-gutter*4;}
.my-1 {margin: $main-gutter*1 0;}
.my-2 {margin: $main-gutter*2 0!important;}
.my-4 {margin: $main-gutter*4 0!important;}





.u-bnd{
    &-yellow {
        background-color: $primary-yellow-light;
    }

    &-grey {
        background-color: $primary-grey-light-2;
    }

    &-shifter {
        background-color: $primary-grey-light-2;
        background-image: linear-gradient(to left, rgba($primary-grey-light, 0.7), rgba($primary-grey-light-2, 1)), url(../images/cards.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: -170% 50% ;
    }
}


.u-clr-margin-row {
    margin: 0 -#{$main-gutter*5};
    padding: $main-gutter;
}

.u-hover-box{
    padding: $main-gutter*1.5;

    transition: all 0.1s cubic-bezier(.1,.98,.71,.68);

    &:hover {
        transform: scale(1.05) translateY( -10%) translateX(-20%);
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.2) ;
    }
}

.u-middle {
    max-width: 100ch;
    margin: $main-gutter*4 auto;
}

.u-line-top {
    position: relative;
    &:before {
        content:'';
        position: absolute;
        display: block;
        top:-20px;
        left:0;
        width: 20%;
        height: 3px;
        background-color: $accent-color;
    }
}

.u-line-bottom {
    position: relative;
    &:after {
        content:'';
        position: absolute;
        display: block;
        bottom:-20px;
        right:0;
        width: 40%;
        height: 3px;
        background-color: $accent-color;
    }
}

@include respond-max(xl){
    .u-clr-margin-row {
        margin: 0 -#{$main-gutter};
        padding: $main-gutter;
    }
}

@include respond-max(lg){
    .u-hover-box{
        padding: $main-gutter*1.5;
        margin-bottom: $main-gutter*2;
    
        transition: unset;
    
        &:hover {
            transform: unset;
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.2) ;
        }
    }
   
}