.about-us {
    grid-column: 1/-1;
    min-height: 50vh;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;

    h1 {
        align-self: flex-start;
        width: 100%;
    }

    & > * {
        width: 100%;

        @include respond(md){
            width:50%;
        }
    }

    &__img {
        background-image: url(../images/IMG_3496bfree.jpg);
        background-size: cover;
    }

    &__content {
        padding: $main-gutter;
    }
}