.contacts {
    grid-column: 1/-1;

    &__phone, &__address {
        position: relative;
        text-align: left;
        font-weight: 800;
        padding-left:50px;

        p {margin:$main-gutter/6 0;}

        p:last-child{ margin-bottom: 0;}

        @include respond-max(md){
            margin: $main-gutter 0;
            p {
                margin-left: 20%;
            }
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top:0;
            left: 0;
            width: 32px;
            height: 100%;
            background: url(../images/svg/phone_in_talk-24px.svg) center no-repeat;
        }
    }

    &__address::before {
        content: '';
        background: url(../images/svg/location_on-24px.svg) center no-repeat;
    }



    &--sub {
        width:70%;
        padding: $main-gutter*2 $main-gutter;
        display: flex;
        margin:$main-gutter*2    auto $main-gutter*2 auto;
        background-color: $primary-yellow-light;

        @include respond-max(xl){
            width:100%;
        }
    }

    &__worktable {
        font-size: 0.9rem;
        width: 100%;
        border-spacing: $main-gutter/2  $main-gutter/4;

        td {
            padding-bottom: $main-gutter/4;
            border-bottom: 1px solid $accent-color;

            &:first-child {
                padding-right: $main-gutter/4;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-weight: 800;
                font-size:0.7rem;
                text-align:right;
            }
        }

        span {
            display: block;
            font-size: 0.7rem;
            font-weight: 700;
        }
    }
    
}