body {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: auto repeat(1, 1100px) auto ;

    & > * {
        padding: $main-gutter*2 $main-gutter*5;
    }

    @include respond-max(xl){
        display: block;

        & > * {
            padding: $main-gutter/2 $main-gutter;
        }
    }
}

header {
    grid-column: 1/-1;
    display: flex;
    background:linear-gradient(45deg, $primary-orange-light, $primary-orange-dark) ;
    border-bottom: 2px solid darken($primary-orange-light, 10);
}

.map {
    grid-column: 1/-1;
    background-color: $primary-grey-dark-1;
    padding: 0px;
    height: 50vh;
}

footer {
    grid-column: 1/-1;
    margin: auto 0 0 0;
    background-color: $primary-blue-dark;
}

ol {
    margin:0 $main-gutter;

    li {
        margin-bottom: $main-gutter/3;
        font-size:0.9rem;
        line-height: 1.5;

        &:first-child {
            margin-top:$main-gutter/2;
        }
    }

    li::marker {
        font-weight: bold;
        font-size: 0.9rem;
    }
}

ul {
    li {
        margin-left: $main-gutter/2;
    }
}

.flex {
    display:flex;
    justify-content: space-between;
    margin: $main-gutter*4 0;
    padding: $main-gutter*2 unset;
}

.flex-30 {
    width: 30%;
}

.flex-50 {
    width:50%;
    display: block;

    &:first-child{
        margin: 0 $main-gutter/2 0 0;
    }

    &:last-child {
        margin: 0 0 0 $main-gutter/2;
    }
}

.flex-60{
    width: 60%;
}

.flex, .flex-30, .flex-50, .flex-60 {
    p:first-child {
        margin-top:0;
    }

    p:last-child { margin-bottom: 0;}
}

@include respond-max(md){
    .flex {
        flex-direction: column;
    }

    .flex-30, .flex-50, .flex-60 {
        width: 100%;
    }

    .flex-50:last-child, .flex-50:first-child {
        margin: 0;
    }
}

footer {
    grid-column: 1/-1;
    margin: 0!important;
    color: white;
}