body {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: auto repeat(1, 1100px) auto ;

   


    @include respond(lg){
        & > * {
            padding: $main-gutter/2 $main-gutter*2;
        }
    }

    @include respond(xl){
        & > * {
            padding: $main-gutter/2 $main-gutter*5;
        }
    }

    @include respond-max(xl){
        display: block;
    }

    @include respond-max(lg){

        & > * {
            padding: $main-gutter/2 $main-gutter;
        }
    }

    @include respond-max(md){

        & > * {
            padding: $main-gutter/2 $main-gutter/2;
        }
    }
}

header {
    grid-column: 1/-1;
    display: flex;
    padding: $main-gutter $main-gutter*4;
    background:linear-gradient(45deg, $gunmetal-gray-dark, $gunmetal-gray-dark) ;

    border-bottom: 2px solid darken($gunmetal-gray-dark, 10);
    width: 100%;

    a:link {
        color:white;
    }
   
}

header.fixed{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.5);
    padding: $main-gutter/2 $main-gutter;
    
    .main-nav {align-items: center;}

    ul li {margin-bottom: 0;}

    small {display: none;}

    transition: all 0.5s ease;
    background: rgba($gunmetal-gray-dark, 0.9) ;
}

.map {
    grid-column: 1/-1;
    background-color: $primary-grey-dark-1;
    padding: 0px;
    height: 50vh;
}

footer {
    grid-column: 1/-1;
    margin: auto 0 0 0;
    background-color: $primary-blue-dark;
}

ol {
    margin:0 $main-gutter;

    li {
        margin-bottom: $main-gutter/3;
        font-size:0.9rem;
        line-height: 1.5;

        &:first-child {
            margin-top:$main-gutter/2;
        }
    }

    li::marker {
        font-weight: bold;
        font-size: 0.9rem;
    }
}

ul {
    list-style: square;

    li {
        margin-left: $main-gutter/2;
        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }
}

.flex {
    display:flex;
    justify-content: space-between;
    margin: $main-gutter*2 0;
    padding: $main-gutter*2 unset;
}

.flex-30 {
    width: 30%;
}

.flex-50 {
    width:50%;
    display: block;

    &:first-child{
        margin: 0 $main-gutter/2 0 0;
    }

    &:last-child {
        margin: 0 0 0 $main-gutter/2;
    }
}

.flex-60{
    width: 60%;
}

.flex, .flex-30, .flex-50, .flex-60 {
    p:first-child {
        margin-top:0;
    }

    p:last-child { margin-bottom: 0;}
}

@include respond-max(md){
    .flex {
        flex-direction: column;
    }

    .flex-30, .flex-50, .flex-60 {
        width: 100%;
    }

    .flex-50:last-child, .flex-50:first-child {
        margin: 0;
    }
}

footer {
    grid-column: 1/-1;
    margin: 0!important;
    color: white;
}

button.scroll-top{
    display: none;
    position:fixed;
    bottom: 2vh;
    right:0;
    width: 50px;
    height: 50px;
    padding: 0;

    
    background: url(../images/svg/to-top.svg) center no-repeat;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.5);
    transition: all 2s ease;
  
    z-index: 100;

    &:focus, &:active {
        outline: none;
    }
}

.visible {
    display: block!important;
}

.fixed {
    position: fixed;
    top:0;
    z-index: 100;
}

@include respond-max(md){
    .map{
        margin: $main-gutter*2 auto 0 auto;
    }
}