.header-logo {
    a {
        text-decoration: none;
        font-size: 2rem;
        // font-family: 'Russo One', sans-serif;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: $primary-blue-dark;
    }

    span, small {
        display: block;
    }

    span {
        // text-transform: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.15rem;
        width: 100%;
        text-align: right;
    }

    small {
        font-family: 'Nunito', sans-serif;
        text-transform: none;
        font-weight: 700;
        // letter-spacing: 1px;
        
    }
}

.main-nav {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        &:not(:last-child){
            margin-right: $main-gutter/2;
        }

        a {
            text-decoration: none;
        }
    }

    @include respond-max(lg){
       

        &__list {
            
            position: absolute;
            flex-direction: column;
            top: 100px;
            left: -100vw;
            height: 100vh;
            width: 0;
            background-color: yellow;
            z-index: 1;

            transition: all 0.5s ease;

            a {
                display: inline-flex;
               padding: $main-gutter/2; 
            }
        }
    }
}

.main-nav__trigger {
    display: none;

    @include respond-max(lg){
        display: block;

        &:checked + .main-nav__list {
            display: flex;
            top: 100px;
            left: 0px;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            padding-top: 10vh;
            padding-left: 10vw;
        }
    }
}