.header-logo {
    a {
       
        text-decoration: none;
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: $primary-yellow-dark;
        text-shadow: 2px 2px 0px $primary-blue-dark;
    }

    span, small {
        display: block;
        color: $primary-grey-dark-2;
    }

    span {
        // text-transform: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.15rem;
        width: 100%;
        text-align: right;
    }

    small {
        font-family: 'Nunito', sans-serif;
        text-transform: none;
        font-weight: 700;
        // letter-spacing: 1px;
        
    }
}

.main-nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        display: flex; 
        flex-direction: column;
        align-items: center;

        &:not(:last-child){
            margin-right: $main-gutter/2;
        }

        a {
            text-decoration: none;

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid transparent;
                width: 0%;
                transition: width 0.5s ease;
            }

            &:link, &:visited {
                color:$accent-color;
            }
        }
    }
}

.main-nav__item:hover {
    a:after {
        content: '';
        display: block;
        border-bottom: 2px solid $accent-color;
        width: 100%;
    }
}


.main-nav__trigger {
    display: none;
}

//mobile-nav
@include respond-max(lg){
    header {
        margin:0;
        padding: $main-gutter;
    }

    .header-logo{
        a {
            font-size: 1.5rem;
        }
    }

    .main-nav {
        
        &__list {
            position: absolute;
            flex-direction: column;
            top: 70px!important ;
            left: -100%;
            height: 70vh;
            width: 0;
            background-color: $gunmetal-gray-dark ;
            z-index: 1;

            transition: all 0.5s ease;
        }
        
        &__item {
            width: 100%;
            align-items: flex-start;

            a {
                padding: $main-gutter/2 $main-gutter; 
            }
        }
    }

    .main-nav__trigger {
        display: none;
    }

    .main-nav__trigger + label {
        position: relative;
        height: 30px;
        width: 25px;
        outline: none;

        .dash {
            position: absolute;
            width: 25px;
            height: 2px;
            top: 10px;
            background-color: $accent-color;

            &:hover {
                cursor: pointer;
            }
    
            &:before, &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: inherit;
            }

            &:before {
                position: absolute;
                top:-6px;
            }

            &:after {
                position: absolute;
                top:6px;
            }
        }   
    }

    .main-nav__trigger:checked ~ .main-nav__list {
        display: flex;
        top: 100px;
        left: 0px;
        height: 100vh;
        width: 100%;
        padding: $main-gutter;
        flex-direction: column;
        padding-top: 10vh;
    }

    .main-nav__trigger:checked + label {
       
        .dash {
            height: 0px;
            transform:translateX(5px);

            &::before {
                transform: rotate(45deg) translateY(8px);
                transition: all 0.2s ease;
                transform-origin: center;
            }

            &::after {
                transform: rotate(-45deg) translateY(-9px);
                transition: all 0.2s ease;
            }

            transform-origin: center;
        }
    }
}