.technical-services{
    grid-column: 1/-1;

    ul {
        list-style-position: inside;
    }

    ul li {
        background-color: $primary-grey-dark-2;
        padding: $main-gutter/2 $main-gutter;
        margin-left:0;

        @include respond(lg){
            &:hover {
                box-shadow: 1px 2px 2px 1px rgba($primary-blue-dark, 0.5);
                background-color: darken($primary-grey-dark-2, 5);
                font-weight: 700;
            }
        }
    }

    &__strug{
        &__img {
            background: url(../images/tech.jpg) center no-repeat;
            background-size: auto 100%;
            background-position: top center;
            min-height: 300px;

            
        }

        @include respond-max(md){
            &__img{
                margin: 0px!important;
            }

            margin:0px;
        }
    }

    .flex-50 {
        &:first-child {
            padding-right: 5%; 
        }
        &:last-child {
            padding-left: 5%;
        }
    }
}

@include respond-max(md){
    .technical-services .flex-50:last-child {
        padding: $main-gutter*2 $main-gutter/2;
    }
}